﻿
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lam's The Best Grill Restaurant</title>

    @Styles.Render("~/Content/adminStyles")
      
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

  </head>

  <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Lam's The Best Grills Restaurant</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="alertReservations"><a href="/admin/reservations">Reservations <span id="reservationsBadge" class="badge" style="display:none;"></span></a></li>
                    <li id="alertMessages"><a href="/admin/messages">Messages <span id="messagesBadge" class="badge" style="display:none;"></span></a></li>
                    @if (Request.IsAuthenticated) {
                        <li>
                            @using (Html.BeginForm("LogOff", "Admin", FormMethod.Post, new { id = "logoutForm" })) {
                                @Html.AntiForgeryToken()
                            }
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                    } 
                </ul>
            </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li id="navDashboard"><a href="/admin">Dashboard</a></li>
                    <li id="navSpecialties"><a href="/admin/specialties">News</a></li>
                    <li id="navMenu"><a href="/admin/menu">Menu</a></li>
                    <li id="navReservations"><a href="/admin/reservations">Reservations</a></li>
                    <li id="navMessages"><a href="/admin/messages">Messages</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
            </div>
        </div>

        @Scripts.Render("~/Content/adminScripts")
        @RenderSection("scripts", false)

        <script>
            $(function () {
                function refresh() {
                    $.ajax({
                        url: "/admin/notification",
                        type: "GET",
                        dataType: 'json',
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (result) {
                            if (result.reservations.length > 0) {
                                $('#reservationsBadge').text(result.reservations.length);
                                $('#reservationsBadge').show();
                            } else {
                                $('#reservationsBadge').hide();
                            }

                            if (result.messages.length > 0) {
                                $('#messagesBadge').text(result.messages.length);
                                $('#messagesBadge').show();
                            } else {
                                $('#messagesBadge').hide();
                            }
                        }
                    });
                };
                refresh();
                setInterval(function () {
                    refresh();
                }
                , 1000 * 60 * 10);
            });
        </script>

  </body>
</html>
