﻿@model IList<weblums.Models.MenuModel>

@{
    ViewBag.Title = "Today's Specialties";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">Menu</h2>
<ol class="breadcrumb">
  <li><a href="/admin/menu/add">Add</a></li>
</ol>
<div class="table-responsive">
    <div class="content-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#gallery" data-toggle="tab">Gallery</a></li>
            <li><a href="#breakfast" data-toggle="tab">Special</a></li>
            <li><a href="#lunch" data-toggle="tab">Lunch</a></li>
            <li><a href="#dinner" data-toggle="tab">Dinner</a></li>
            <li><a href="#kids" data-toggle="tab">Kids</a></li>
            <li><a href="#beverage" data-toggle="tab">Beverage</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="gallery">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where((item) => item.IsGallery))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/admin/menu/edit?id=@item.Id">Edit</a></td>
                            </tr>            
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="breakfast">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where((item) => item.IsBreakfast))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/admin/menu/edit?id=@item.Id">Edit</a></td>
                            </tr>            
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="lunch">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where((item) => item.IsLunch))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/admin/menu/edit?id=@item.Id">Edit</a></td>
                            </tr>            
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="dinner">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where((item) => item.IsDinner))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/admin/menu/edit?id=@item.Id">Edit</a></td>
                            </tr>            
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="kids">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where((item) => item.IsKids))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/admin/menu/edit?id=@item.Id">Edit</a></td>
                            </tr>            
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="beverage">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where((item) => item.IsBeverage))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ImageUrl</td>
                                <td><a href="/admin/menu/edit?id=@item.Id">Edit</a></td>
                            </tr>            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $("#navMenu").addClass("active")
    </script>
}