﻿@model weblums.Models.GuestModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header">
	<div id="menu" class="header-menu fixed">
		<div class="container menu-box">
			<div class="row">
				<nav role="navigation" class="col-sm-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!--== Logo ==-->
						<span class="navbar-brand logo">
							    <img src="Content/img/logo.gif" alt="Lam's logo"/>
						</span>

					</div>
					<div class="navbar-collapse collapse">

						<!--== Navigation Menu ==-->
						<ul class="nav navbar-nav">
							<li class="current"><a href="#header">Home</a></li>
							<li><a href="#features">About Us</a></li>
							<li><a href="#ourmenu">Menu</a></li>
							<li><a href="#reserve">Reservation</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>

					</div>
				</nav>
			</div>
		</div>
	</div>

	<!--== Site Description ==-->
	<div class="header-cta">
		<div class="container">
			<div class="row">
				<div class="blk col-md-7">
                    <h1>Lam's The Best Grill<br/>Restaurant</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="header-bg">
		<div id="preloader">
			<div class="preloader"></div>
		</div>
		<div class="main-slider" id="main-slider">

			<!--== Main Slider ==-->
			<ul class="slides">
				<li><img src="@Model.Dashboard.Slide1" /></li>
				<li><img src="@Model.Dashboard.Slide2" /></li>
				<li><img src="@Model.Dashboard.Slide3" /></li>
			</ul>

		</div>
	</div>
</header>

<div class="content">
	<div class="container box">


		<!--===============================-->
		<!--== Features ===================-->
		<!--===============================-->
		<section id="features" class="row">
            <div class="col-sm-12">
                <div class="section-header text-center">
		            <h2>Welcome</h2>
		            <img class="dividerline" src="Content/img/sep.png" alt="">
                    @if (!String.IsNullOrEmpty(Model.Dashboard.WelcomeDescription))
                    { 
                        <h3>@Model.Dashboard.WelcomeDescription</h3>
                    }
                </div>
            </div>
        </section>
        <!--==========-->


        <!--===============================-->
		<!--== Today's specialties ===================-->
		<!--===============================-->
		<section id="specialties" class="row separated specialties">
            <div class="col-sm-12">
                <div class="section-header text-center">
		            <h2>News</h2>
		            <img class="dividerline" src="Content/img/sep.png" alt="">
                    @if (!String.IsNullOrEmpty(Model.Dashboard.SpecialtiesDescription))
                    { 
                        <h3>@Model.Dashboard.SpecialtiesDescription</h3>
                    }
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Specialties)
                { 
			        <div class="col-md-4">
				        <div class="restmenuwrap">
					        <h3 class="maincat notopmarg text-center">@item.Name</h3>
					        <div class="restitem clearfix">
						        <div class="rm">
							        <img src="@item.ImageUrl"/>
						        </div>
						        <p>
                                    @item.Description
						        </p>
					        </div>
				        </div>
			        </div>                
                }
    		</div>
        </section>


        <!--===============================-->
        <!--== Our menu ===================-->
        <!--===============================-->
        <section id="ourmenu" class="row separated">
			<div class="col-sm-12">
				<div class="section-header text-center">
		            <h2>Menu</h2>
		            <img class="dividerline" src="Content/img/sep.png" alt="">
                    @if (!String.IsNullOrEmpty(Model.Dashboard.MenuDescription))
                    { 
                        <h3>@Model.Dashboard.MenuDescription</h3>
                    }
				</div>
			</div>
            <div class="col-sm-12">
                <div class="content-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="gallerytablink" href="#gallerytab" data-toggle="tab">Gallery</a></li>
                        <li><a href="#specialtab" data-toggle="tab">Special</a></li>
                        <li><a href="#lunchtab" data-toggle="tab">Lunch</a></li>
                        <li><a href="#dinnertab" data-toggle="tab">Dinner</a></li>
                        @if (Model.Menu.Where((item) => item.IsKids).Count() > 0)
                        {
                            <li><a href="#kidstab" data-toggle="tab">Kids</a></li>
                        }
                        @if (Model.Menu.Where((item) => item.IsBeverage).Count() > 0)
                        {
                            <li><a href="#beveragetab" data-toggle="tab">Beverage</a></li>
                        }
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="gallerytab">
                            <div id="grid-gallery" class="grid-gallery">
                                <section class="grid-wrap">
						            <ul class="grid" style="position: relative; height: 550px;">
                                        @foreach (var item in Model.Menu.Where((item) => item.IsGallery))
                                        { 
							                <li style="position: absolute; left: 0px; top: 0px;">
								                <figure>
									                <img src="@item.ImageUrl" alt="">
									                <figcaption><h3>@item.Name</h3></figcaption>
								                </figure>
							                </li>
                                        }
						            </ul>
            					</section>					
					            <section class="slideshow">
						            <ul class="">
                                        @foreach (var item in Model.Menu.Where((item) => item.IsGallery))
                                        { 
							                <li class="">
								                <figure>
									                <img src="@item.ImageUrl" alt="">
									                <figcaption><h3>@item.Name</h3>@item.Description</figcaption>
								                </figure>
							                </li>
                                        }
						            </ul>
						            <nav>
							            <span class="icon nav-prev"></span>
							            <span class="icon nav-next"></span>
							            <span class="icon nav-close"></span>
						            </nav>
					            </section><!-- // end slideshow -->
					
				            </div>
                        </div>
                        <div class="tab-pane" id="specialtab">
                            <ul class="accordion-group">
                                @foreach (var item in Model.Menu.Where((item) => item.IsBreakfast))
                                { 
                                    <li class="accordion ">
                                        <a class="accordion-heading">
                                            <h4 class="accordion-title">@item.Name</h4>
                                            <span class="fa fa-plus-circle pull-right"></span>
                                        </a>
                                        <div class="accordion-body">
                                            <p>@item.Description</p> 
                                            <div class="row">
			                                    <div class="col-md-12">
                                                    <img src="@item.ImageUrl" class="img-thumbnail" width="100%">
			                                    </div>                
    		                                </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="lunchtab">
                            <ul class="accordion-group">
                                @foreach (var item in Model.Menu.Where((item) => item.IsLunch))
                                { 
                                    <li class="accordion ">
                                        <a class="accordion-heading">
                                            <h4 class="accordion-title">@item.Name</h4>
                                            <span class="fa fa-plus-circle pull-right"></span>
                                        </a>
                                        <div class="accordion-body">
                                            <p>@item.Description</p> 
                                            <div class="row">
			                                    <div class="col-md-12">
                                                    <img src="@item.ImageUrl" class="img-thumbnail" width="100%">
			                                    </div>                
    		                                </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="dinnertab">
                            <ul class="accordion-group">
                                @foreach (var item in Model.Menu.Where((item) => item.IsDinner))
                                { 
                                    <li class="accordion ">
                                        <a class="accordion-heading">
                                            <h4 class="accordion-title">@item.Name</h4>
                                            <span class="fa fa-plus-circle pull-right"></span>
                                        </a>
                                        <div class="accordion-body">
                                            <p>@item.Description</p> 
                                            <div class="row">
			                                    <div class="col-md-12">
                                                    <img src="@item.ImageUrl" class="img-thumbnail" width="100%">
			                                    </div>                
    		                                </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        @if (Model.Menu.Where((item) => item.IsKids).Count() > 0)
                        {
                            <div class="tab-pane" id="kidstab">
                                <ul class="accordion-group">
                                    @foreach (var item in Model.Menu.Where((item) => item.IsKids))
                                    { 
                                        <li class="accordion ">
                                            <a class="accordion-heading">
                                                <h4 class="accordion-title">@item.Name</h4>
                                                <span class="fa fa-plus-circle pull-right"></span>
                                            </a>
                                            <div class="accordion-body">
                                                <p>@item.Description</p> 
                                                <div class="row">
			                                        <div class="col-md-12">
                                                        <img src="@item.ImageUrl" class="img-thumbnail" width="100%">
			                                        </div>                
    		                                    </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        @if (Model.Menu.Where((item) => item.IsBeverage).Count() > 0)
                        {
                            <div class="tab-pane" id="beveragetab">
                                <ul class="accordion-group">
                                    @foreach (var item in Model.Menu.Where((item) => item.IsBeverage))
                                    { 
                                        <li class="accordion ">
                                            <a class="accordion-heading">
                                                <h4 class="accordion-title">@item.Name</h4>
                                                <span class="fa fa-plus-circle pull-right"></span>
                                            </a>
                                            <div class="accordion-body">
                                                <p>@item.Description</p> 
                                                <div class="row">
			                                        <div class="col-md-12">
                                                        <img src="@item.ImageUrl" class="img-thumbnail" width="100%">
			                                        </div>                
    		                                    </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>


		<!--===============================-->
		<!--== Reservation ===================-->
		<!--===============================-->
		<section id="reserve" class="row separated">
			<div class="col-sm-12">
				<div class="section-header text-center">
		            <h2>Reservation</h2>
		            <img class="dividerline" src="Content/img/sep.png" alt="">
                    @if (!String.IsNullOrEmpty(Model.Dashboard.ReservationDescription))
                    { 
                        <h3>@Model.Dashboard.ReservationDescription</h3>
                    }
				</div>
			</div>
			<div class="col-sm-12 row">
                @using (Html.BeginForm("Reserve", "Home", FormMethod.Post, new { id = "reserveForm" }))
                {
                    @Html.TextBoxFor(m => m.Reservation.Name, new { @id = "reserveName", @class = "contact col-md-6", @placeholder = "Your Name *" })
                    @Html.TextBoxFor(m => m.Reservation.Email, new { @id = "reserveEmail", @class = "contact noMarr col-md-6", @placeholder = "E-mail Address *" })
                    @Html.TextBoxFor(m => m.Reservation.Phone, new { @id = "reservePhone", @class = "contact col-md-6", @placeholder = "Phone Number *" })
                    @Html.TextBoxFor(m => m.Reservation.Size, new { @id = "reserveSize", @class = "contact noMarr col-md-6", @placeholder = "Number of Persons *" })
                    @Html.TextBoxFor(m => m.Reservation.Date, new { @id = "reserveDate", @class = "contact col-md-6", @placeholder = "Date *" })
                    @Html.TextBoxFor(m => m.Reservation.Time, new { @id = "reserveTime", @class = "contact noMarr col-md-6", @placeholder = "Time *" })
                    @Html.TextAreaFor(m => m.Reservation.Note, new { @id = "reserveNote", @class = "contact col-md-12", @placeholder = "Note" })
                    <div id="reserveAlert" class="alert alert-dismissible fade in contact col-md-12" style="display:none;" role="alert">
                        <button type="button" class="close" aria-label="Close" id="closeReserveAlert"><span aria-hidden="true">×</span></button>
                        <span id="reserveAlertMessage"></span>
                    </div>
                    <input type="submit" class="contact submit col-md-2" value="Submit">
                }
            </div>
		</section>
		<!--==========-->


		<!--===============================-->
		<!--== Contact Us===================-->
		<!--===============================-->
		<section id="contact" class="row separated">
			<div class="col-sm-12">
				<div class="section-header text-center">
		            <h2>Contact</h2>
		            <img class="dividerline" src="Content/img/sep.png" alt="">
                    @if (!String.IsNullOrEmpty(Model.Dashboard.ContactDescription))
                    { 
                        <h3>@Model.Dashboard.ContactDescription</h3>
                    }
				</div>
			</div>
			<div class="col-sm-12 row">
                <div class="col-sm-6">
                    <h3>Contact Form</h3>
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "contactForm" }))
                    {
                        @Html.TextBoxFor(m => m.Contact.Name, new { @id = "contactName", @class = "contact col-md-6", @placeholder = "Your Name *" })
                        @Html.TextBoxFor(m => m.Contact.Email, new { @id = "contactEmail", @class = "contact noMarr col-md-6", @placeholder = "E-mail Address *" })
                        @Html.TextAreaFor(m => m.Contact.Message, new { @id = "contactMessage", @class = "contact col-md-12", @placeholder = "Messages *" })
                        <div id="contactAlert" class="alert alert-dismissible fade in contact col-md-12" style="display:none;" role="alert">
                            <button type="button" class="close" aria-label="Close" id="closeContactAlert"><span aria-hidden="true">×</span></button>
                            <span id="contactAlertMessage"></span>
                        </div>
                        <input type="submit" class="contact submit col-md-5" value="Send message">
                    }
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Our Address</h3>
                            <address>
                                <strong>Lam's The Best Grill Restaurant</strong><br>
                                Tamar River Villas<br>
                                23-27 Elouera Street<br>
                                Riverside TASMANIA, 7250<br>
                                <strong>Phone:</strong> 0363 273 473<br>
                                <strong>Mobile:</strong> 0404 081 515<br>
                                <strong>Email:</strong> lamsthebestgrill@gmail.com<br>
                            </address>
                        </div>
                        <div class="col-md-4">
                            <h3>Open Hours</h3>
                            <address>
                                <strong>Open 7 days</strong>
                            </address>
                        </div>
                    </div>
                    <h3>Contact Map</h3>
                    <div class="row">
                        <div id="map_canvas"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
                    </div>
                </div><!--/.col-sm-6-->
            </div>
		</section>
		<!--==========-->

		<div id="gotop" class="gotop fa fa-arrow-up"></div>
	</div>
</div>
<footer id="footer">
	<div class="footer">
		<div class="container box">
			<section id="info" class="row">
				<div class="col-sm-8">

					<!--== Social Icons ==-->
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/lamsthebestgrill" class="fa fa-facebook"></a></li>
 						@*<li><a href="#" class="fa fa-google-plus"></a></li>
						<li><a href="#" class="fa fa-pinterest"></a></li>*@
					</ul>

				</div>
                <div class="col-sm-4 text-right">
					<div class="copyrights">
						All Rights Reserved. © 2015
					</div>
					<div>
						<a href="http://vnfocus.com" target="_blank" class="copyrights">vnfocus</a>
					</div>
				</div>
			</section>
		</div>
	</div>
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#reserveDate').pickadate();
            $('#reserveTime').pickatime();

            $('#closeReserveAlert').click(function () {
                $('#reserveAlert').hide();
            });

            $('#closeContactAlert').click(function () {
                $('#contactAlert').hide();
            });

            $('#reserveForm').submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#reserveAlertMessage').text(result.message);
                        if (result.error) {
                            $('#reserveAlert').removeClass('alert-success').addClass('alert-danger');
                        }
                        else {
                            $('#reserveAlert').removeClass('alert-danger').addClass('alert-success');
                            $('#reserveName').val("");
                            $('#reserveEmail').val("");
                            $('#reservePhone').val("");
                            $('#reserveSize').val("");
                            $('#reserveDate').val("");
                            $('#reserveTime').val("");
                            $('#reserveNote').val("");
                        }
                        $('#reserveAlert').show();
                    }
                });
                return false;
            });

            $('#contactForm').submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#contactAlertMessage').text(result.message);
                        if (result.error) {
                            $('#contactAlert').removeClass('alert-success').addClass('alert-danger');
                        }
                        else {
                            $('#contactAlert').removeClass('alert-danger').addClass('alert-success');
                            $('#contactName').val("");
                            $('#contactEmail').val("");
                            $('#contactMessage').val("");
                        }
                        $('#contactAlert').show();
                    }
                });
                return false;
            });
        });
    </script>
}
