﻿@model weblums.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">Dashboard</h2>
<div class="col-sm-12 row">
    @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <label class="contact col-md-3" >Welcome Description</label>
        @Html.TextAreaFor(m => m.WelcomeDescription, new { @class = "contact noMarr col-md-9", @placeholder="Welcome Description" })
        <label class="contact col-md-3" >Today's Specialties Description</label>
        @Html.TextAreaFor(m => m.SpecialtiesDescription, new { @class = "contact noMarr col-md-9", @placeholder="Today's Specialties Description" })
        <label class="contact col-md-3" >Menu Description</label>
        @Html.TextAreaFor(m => m.MenuDescription, new { @class = "contact noMarr col-md-9", @placeholder="Menu Description" })
        <label class="contact col-md-3" >Reservation Description</label>
        @Html.TextAreaFor(m => m.ReservationDescription, new { @class = "contact noMarr col-md-9", @placeholder="Reservation Description" })
        <label class="contact col-md-3" >Contact Description</label>
        @Html.TextAreaFor(m => m.ContactDescription, new { @class = "contact noMarr col-md-9", @placeholder="Contact Description" })
        <label class="contact col-md-3" >Slide 1</label>
        @Html.TextBoxFor(m => m.Slide1, new { @class = "contact noMarr col-md-9", @placeholder="Slide 1" })
        <label class="contact col-md-3" ></label>
        <input type="file" name="FileUpload1" class="contact noMarr col-md-9" />
        <label class="contact col-md-3" >Slide 2</label>
        @Html.TextBoxFor(m => m.Slide2, new { @class = "contact noMarr col-md-9", @placeholder="Slide 2" })
        <label class="contact col-md-3" ></label>
        <input type="file" name="FileUpload2" class="contact noMarr col-md-9" />
        <label class="contact col-md-3" >Slide 3</label>
        @Html.TextBoxFor(m => m.Slide3, new { @class = "contact noMarr col-md-9", @placeholder="Slide 3" })
        <label class="contact col-md-3" ></label>
        <input type="file" name="FileUpload3" class="contact noMarr col-md-9" />
        <label class="contact col-md-3" ></label>
        <input type="submit" class="contact noMarr submit col-md-2" value="Save">
    }

</div>

@section scripts
{
    <script>
        $("#navDashboard").addClass("active")
    </script>
}