﻿@model weblums.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
	<div class="container box">
        <section id="features" class="row">
            <div class="col-sm-12">
                <div class="section-header text-center">
		            <h2>Please log in</h2>
		            <img class="dividerline" src="../Content/img/sep.png" alt="">

                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "contact", @placeholder="Username *" })
                        @Html.PasswordFor(m => m.Password, new { @class = "contact", @placeholder="Password *" })
                        <input type="submit" class="contact submit col-md-4" value="Log in">
                    }
                </div>
            </div>
        </section>
    </div>
</div>
