﻿@model IList<weblums.Models.MessageModel>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">Messages</h2>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Read?</th>
        <th>Submitted Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Message</td>
                <td>@Html.CheckBox("isRead", item.isRead)</td>
                <td>@item.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                <td><a href="/admin/messages/view?id=@item.Id">View</a></td>
            </tr>            
        }
    </tbody>
</table>
</div>

@section scripts
{
    <script>
        $("#navMessages").addClass("active")
    </script>
}