﻿@model weblums.Models.MessageModel

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">View a message</h2>
<div class="col-sm-12 row">
    <div id="alert" class="alert alert-dismissible fade in" style="display:none;" role="alert">
        <button type="button" class="close" aria-label="Close" id="closeAlert"><span aria-hidden="true">×</span></button>
        <span id="alertMessage"></span>
    </div>

    @using (Html.BeginForm("ViewMessage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <label class="contact col-md-3" >Name</label>
        @Html.TextBoxFor(m => m.Name, new { @id = "name", @class = "contact noMarr col-md-9", @placeholder="Name *" })
        <label class="contact col-md-3" >Email</label>
        @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "contact noMarr col-md-9", @placeholder="Email *" })
        <label class="contact col-md-3" >Message</label>
        @Html.TextBoxFor(m => m.Message, new { @id = "message", @class = "contact noMarr col-md-9", @placeholder="Message *" })
        <label class="contact col-md-3" >Submitted Date</label>
        @Html.TextBoxFor(m => m.CreatedDate, new { @id = "createdDate", @class = "contact noMarr col-md-9", @placeholder="Submitted Date *" })
        <label class="contact col-md-3" >Read?</label>
        @Html.CheckBoxFor(m => m.isRead, new { @id = "isRead", @class = "contact noMarr col-md-9", @placeholder = "Note *" })
        <input type="submit" class="contact noMarr submit col-md-2" value="Delete">
    }

</div>

@section scripts
{
    <script>
        $(function () {
            $("#navMessages").addClass("active")

            $('#closeAlert').click(function () {
                $('#alert').hide();
            });

            $('#form').submit(function () {
                if (confirm("Are you sure you want to delete?")) {
                    $.ajax({
                        url: "/admin/messages/delete?id=@Model.Id",
                        type: "DELETE",
                        dataType: 'json',
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (result) {
                            console.log(result.message);
                            $('#alertMessage').text(result.message);
                            if (result.error) {
                                $('#alert').removeClass('alert-success').addClass('alert-danger');
                            }
                            else {
                                window.location = "/admin/messages";
                            }
                            $('#alert').show();
                        }
                    });
                }
                return false;
            });
        });
    </script>
}
