﻿@model IList<weblums.Models.ReservationModel>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">Reservations</h2>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Persons</th>
        <th>Date</th>
        <th>Time</th>
        <th>Note</th>
        <th>Read?</th>
        <th>Confirmed?</th>
        <th>Submitted</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Size</td>
                <td>@item.Date.Value.ToString("MM/dd/yyyy")</td>
                <td>@item.Time</td>
                <td>@item.Note</td>
                <td>@Html.CheckBox("isRead", item.isRead)</td>
                <td>@Html.CheckBox("isConfirmed", item.isConfirmed)</td>
                <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                <td><a href="/admin/reservations/edit?id=@item.Id">View</a></td>
            </tr>            
        }
    </tbody>
</table>
</div>

@section scripts
{
    <script>
        $("#navReservations").addClass("active")
    </script>
}