﻿@model weblums.Models.ReservationModel

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">View a reservation</h2>
<div class="col-sm-12 row">
    <div id="alert" class="alert alert-dismissible fade in" style="display:none;" role="alert">
        <button type="button" class="close" aria-label="Close" id="closeAlert"><span aria-hidden="true">×</span></button>
        <span id="alertMessage"></span>
    </div>

    @using (Html.BeginForm("Editreservation", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <label class="contact col-md-3" >Name</label>
        @Html.TextBoxFor(m => m.Name, new { @id = "name", @class = "contact noMarr col-md-9", @placeholder = "Name *" })
        <label class="contact col-md-3" >Description</label>
        @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "contact noMarr col-md-9", @placeholder = "Email *" })
        <label class="contact col-md-3" >Display Index</label>
        @Html.TextBoxFor(m => m.Phone, new { @id = "phone", @class = "contact noMarr col-md-9", @placeholder = "Phone *" })
        <label class="contact col-md-3" >Persons</label>
        @Html.TextBoxFor(m => m.Size, new { @id = "size", @class = "contact noMarr col-md-9", @placeholder = "Persons *" })
        <label class="contact col-md-3" >Date</label>
        @Html.TextBoxFor(m => m.Date, new { @id = "date", @class = "contact noMarr col-md-9", @placeholder = "Date *" })
        <label class="contact col-md-3" >Time</label>
        @Html.TextBoxFor(m => m.Time, new { @id = "time", @class = "contact noMarr col-md-9", @placeholder = "Time *" })
        <label class="contact col-md-3" >Note</label>
        @Html.TextAreaFor(m => m.Note, new { @id = "note", @class = "contact noMarr col-md-9", @placeholder = "Note *" })
        <label class="contact col-md-3" >Read?</label>
        @Html.CheckBoxFor(m => m.isRead, new { @id = "isRead", @class = "contact noMarr col-md-9", @placeholder = "Note *" })
        <label class="contact col-md-3" >Confirmed?</label>
        @Html.CheckBoxFor(m => m.isConfirmed, new { @id = "isConfirmed", @class = "contact noMarr col-md-9", @placeholder = "Note *" })
        <input type="submit" class="contact submit col-md-2" value="Save">
        <div class="col-md-5"/>
        <input type="button" class="contact noMarr submit col-md-6" value="Delete" id="delete">
    }

</div>

@section scripts
{
    <script>
        $(function () {
            $("#navReservations").addClass("active")

            $('#closeAlert').click(function () {
                $('#alert').hide();
            });

            $('#form').submit(function () {
                $.ajax({
                    url: this.action,
                    type: "PUT",
                    data: new FormData(this),
                    mimeType: "multipart/form-data",
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (result) {
                        $('#alertMessage').text(result.message);
                        if (result.error) {
                            $('#alert').removeClass('alert-success').addClass('alert-danger');
                        }
                        else {
                            window.location = "/admin/reservations";
                        }
                        $('#alert').show();
                    }
                });
                return false;
            });
            
            $('#delete').click(function () {
                if (confirm("Are you sure you want to delete?")) {
                    $.ajax({
                        url: "/admin/reservations/delete?id=@Model.Id",
                        type: "DELETE",
                        dataType: 'json',
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (result) {
                            $('#alertMessage').text(result.message);
                            if (result.error) {
                                $('#alert').removeClass('alert-success').addClass('alert-danger');
                            }
                            else {
                                window.location = "/admin/reservations";
                            }
                            $('#alert').show();
                        }
                    });
                }
                return false;
            });

        });
    </script>
}
