﻿@model IList<weblums.Models.SpecialtyModel>

@{
    ViewBag.Title = "Today's Specialties";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">News</h2>
<ol class="breadcrumb">
  <li><a href="/admin/specialties/add">Add</a></li>
</ol>
<span>Select top 3 by display index</span>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Display Index</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ImageUrl</td>
                <td>@item.DisplayIndex</td>
                <td><a href="/admin/specialties/edit?id=@item.Id">Edit</a></td>
            </tr>            
        }
    </tbody>
</table>
</div>

@section scripts
{
    <script>
        $("#navSpecialties").addClass("active")
    </script>
}