﻿@model weblums.Models.SpecialtyModel

@{
    ViewBag.Title = "Today's Specialies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">Edit a specialty</h2>
<div class="col-sm-12 row">
    <div id="alert" class="alert alert-dismissible fade in" style="display:none;" role="alert">
        <button type="button" class="close" aria-label="Close" id="closeAlert"><span aria-hidden="true">×</span></button>
        <span id="alertMessage"></span>
    </div>

    @using (Html.BeginForm("EditSpecialty", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <label class="contact col-md-3" >Name</label>
        @Html.TextBoxFor(m => m.Name, new { @id = "name", @class = "contact noMarr col-md-9", @placeholder="Name *" })
        <label class="contact col-md-3" >Description</label>
        @Html.TextAreaFor(m => m.Description, new { @id = "description", @class = "contact noMarr col-md-9", @placeholder="Description *" })
        <label class="contact col-md-3" >Display Index</label>
        @Html.TextBoxFor(m => m.DisplayIndex, new { @id = "displayIndex", @class = "contact noMarr col-md-9", @placeholder="Display Index *" })
        <label class="contact col-md-3" >Image</label>
        @Html.TextBoxFor(m => m.ImageUrl, new { @id = "imageUrl", @class = "contact noMarr col-md-9", @placeholder="Image *" })
        <label class="contact col-md-3" ></label>
        <input type="file" id="fileUpload" name="FileUpload" class="contact noMarr col-md-9" />
        <label class="contact col-md-3" ></label>
        <div class="contact noMarr col-md-9">
            <img src="@Model.ImageUrl" height="250" width="250" class="img-thumbnail">
        </div>
        <input type="submit" class="contact noMarr submit col-md-2" value="Save">
        <div class="col-md-5"/>
        <input type="button" class="contact noMarr submit col-md-6" value="Delete" id="delete">
    }

</div>

@section scripts
{
    <script>
        $(function () {
            $("#navSpecialties").addClass("active")

            $('#closeAlert').click(function () {
                $('#alert').hide();
            });

            $('#form').submit(function () {
                $.ajax({
                    url: this.action,
                    type: "PUT",
                    data: new FormData(this),
                    mimeType: "multipart/form-data",
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (result) {
                        console.log(result.message);
                        $('#alertMessage').text(result.message);
                        if (result.error) {
                            $('#alert').removeClass('alert-success').addClass('alert-danger');
                        }
                        else {
                            window.location = "/admin/specialties";
                        }
                        $('#alert').show();
                    }
                });
                return false;
            });

            $('#delete').click(function () {
                if (confirm("Are you sure you want to delete?")) {
                    $.ajax({
                        url: "/admin/specialties/delete?id=@Model.Id",
                        type: "DELETE",
                        dataType: 'json',
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (result) {
                            $('#alertMessage').text(result.message);
                            if (result.error) {
                                $('#alert').removeClass('alert-success').addClass('alert-danger');
                            }
                            else {
                                window.location = "/admin/specialties";
                            }
                            $('#alert').show();
                        }
                    });
                }
                return false;
            });

        });
    </script>
}
