﻿@model weblums.Models.SpecialtyModel

@{
    ViewBag.Title = "Today's Specialies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-header">Add a new specialty</h2>
<div class="col-sm-12 row">
    <div id="alert" class="alert alert-dismissible fade in" style="display:none;" role="alert">
        <button type="button" class="close" aria-label="Close" id="closeAlert"><span aria-hidden="true">×</span></button>
        <span id="alertMessage"></span>
    </div>

    @using (Html.BeginForm("AddSpecialty", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <label class="contact col-md-3" >Name</label>
        @Html.TextBoxFor(m => m.Name, new { @id = "name", @class = "contact noMarr col-md-9", @placeholder = "Name *" })
        <label class="contact col-md-3" >Description</label>
        @Html.TextAreaFor(m => m.Description, new { @id = "description", @class = "contact noMarr col-md-9", @placeholder = "Description *" })
        <label class="contact col-md-3" >Display Index</label>
        @Html.TextBoxFor(m => m.DisplayIndex, new { @id = "displayIndex", @class = "contact noMarr col-md-9", @placeholder = "Display Index *" })
        <label class="contact col-md-3" >Image</label>
        @Html.TextBoxFor(m => m.ImageUrl, new { @id = "imageUrl", @class = "contact noMarr col-md-9", @placeholder = "Image *" })
        <label class="contact col-md-3" ></label>
        <input type="file" id="fileUpload" name="FileUpload" class="contact noMarr col-md-9" />
        <input type="submit" class="contact noMarr submit col-md-2" value="Save">
    }

</div>

@section scripts
{
    <script>
        $(function () {
            $("#navSpecialties").addClass("active")

            $('#closeAlert').click(function () {
                $('#alert').hide();
            });

            $('#form').submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: new FormData(this),
                    mimeType: "multipart/form-data",
                    dataType: 'json',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (result) {
                        console.log(result.message);
                        $('#alertMessage').text(result.message);
                        if (result.error) {
                            $('#alert').removeClass('alert-success').addClass('alert-danger');
                        }
                        else {
                            $('#alert').removeClass('alert-danger').addClass('alert-success');
                            $('#name').val("");
                            $('#description').val("");
                            $('#imageUrl').val("");
                            $('#fileUpload').val("");
                            $('#displayIndex').val("");
                        }
                        $('#alert').show();
                    }
                });
                return false;
            });
        });
    </script>
}
